<div class="container mt-5">
  <h1 class="text-center">Nuevo Comentario</h1>

  <%= render "form", comment: @comment %>

  <br>

  <div>
    <%= link_to "Volver a comentarios", comments_path, class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>
