
<h1 class="display-6 text-center my-5"><strong>Cosas de Gatos</strong></h1>
<div class="container">
  <div class="card w-75 text-end">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/208984/pexels-photo-208984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">El gato doméstico (Felis silvestris catus), llamado comúnmente gato, y de forma coloquial minino, michino, y algunos nombres más, es un mamífero carnívoro de la familia Felidae.</h5>
          <hr>
          <p class="card-text">Junto con el perro, es el animal doméstico más popular como mascota, como ayuda en la lucha contra roedores o ambas cosas. En el 2017, la población mundial estimada de gatos estaba en seiscientos millones de felinos. En esta cifra se incluyeron gatos que son mascota, gatos callejeros (sin hogar) y gatos salvajes; sumando solo los gatos silvestres alrededor de <strong>100 millones.</strong></p>
          <p class="card-text">El país considerado hasta esa fecha que más felinos tiene como mascota es Estados Unidos. Rusia contaba con aproximadamente 23 millones de gatos domésticos en 2021 convirtiéndose en el país europeo con mayor población de este tipo de felinos.</p>
          <strong><%= link_to "Ver Historias de Gatos", posts_path, class:"nav-link active text-center", ariaCurrent:"page" %></strong>
          <hr>
          <a href="<%= user_signed_in? ? new_post_path : new_user_session_path %>" class="btn btn-secondary btn-sm">
            <%= user_signed_in? ? "Cuenta tu historia gatuna" : "Inicia sesión" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>